<div class="page-wrapper">
  <section class="main-container">
    <div class="container">
      <div class="row">
        <div class="main col-md-12">
          <h1 class="page-title">メッセージ</h1>
          <div class="separator-2"></div>
          <% if @messages.any? %>
            <div class="timeline clearfix">
              <% @messages.each do |message| %>
                <div class="timeline-date-label clearfix">May 2015</div>
                <% if message.user == current_user %>
                  <div class="timeline-item pull-right bg-mine">
                <% else %>
                  <div class="timeline-item">
                <% end %>
                  <article class="blogpost shadow light-gray-bg bordered object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                    <header>
                      <h2><i class="icon-user-1"></i><%= message.user.username %></h2>
                      <div class="post-info">
                        <span class="post-date">
                          <i class="icon-calendar"></i>
                          <span class="day"><%= message.created_at.strftime("%F") %></span>
                          <span class="month"><%= message.created_at.strftime("%R") %></span>
                        </span>
                      </div>
                    </header>
                    <div class="blogpost-content">
                      <p><%= message.content %></p>
                    </div>
                  </article>
                  </div>
              <% end %>
            </div>
          <% end %>
          <% @message = @parent_child.messages.build %>
          <%= render partial: 'messages/form', locals: { message: @message, parent_child: @parent_child } %>
        </div>
      </div>
    </div>
  </section>
</div>
