<div class="tab-pane" id="pill-4">
  <div class="row grid-space-10">
    <% current_user.performances.each do |performance| %>
      <div class="col-sm-6 col-md-3">
        <div class="image-box team-member style-2 shadow bordered mb-20 text-center">
          <div class="overlay-container overlay-visible">
            <%= image_tag(performance.image, style: "width: 250px; height: 350px;") unless performance.image.blank? %>
            <%= image_tag('no-image.png', style: "width: 250px; height: 350px;") if performance.image.blank? %>
          </div>
          <div class="overlay-bottom">
            <p class="lead margin-clear"><%= performance.title %></p>
            <small><%= performance.author %></small>
            <div class="elements-list clearfix">
              <%= link_to book_histories_path(performance.book), class:"btn btn-gray" do %>この本の行方を見る <i class="fa fa-folder-open pl-10"></i><% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
