<div class="panel-group collapse-style-1" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
					<i class="fa fa-user-plus pr-10"></i>ユーザネーム・メールアドレス変更
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
			<div class="panel-body">
        <%= bootstrap_form_for(current_user) do |f| %>
          <%= f.text_field :username %>
          <%= f.email_field :email, autofocus: true %>
          <%= f.submit "変更する" %>
        <% end %>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
					<i class="fa fa-address-card pr-10"></i>住所登録
				</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
			<div class="panel-body">
				<%= link_to "住所を登録する", new_user_address_path(current_user), class: "btn btn-default" %>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">
					<i class="fa fa-key pr-10"></i>パスワード変更
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
			<div class="panel-body">
				<%= bootstrap_form_for(current_user) do |f| %>
					<%= f.password_field :password, autocomplete: "off" %>
					<%= f.password_field :password_confirmation, autocomplete: "off" %>
					<%= f.submit %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" aria-expanded="false">
					<i class="fa fa-close pr-10"></i>退会
				</a>
			</h4>
		</div>
		<div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
			<div class="panel-body">
        <%= link_to user_path(current_user), method: :delete, class: "btn btn-danger", data: { confirm: "これまでの実績や登録内容は削除されますが、本当に退会しますか？" ,
          verify: current_user.username,
          verify_text: "この操作は取り消せません。以下の空白にあなたのユーザネームを入力してください。"
          }, title: "退会の確認" do %>
          退会
        <% end %>
			</div>
		</div>
	</div>
</div>
