<div class="page-wrapper">
	<div class="vertical">
		<ul class="mypage-nav nav nav-tabs" role="tablist">
			<li class="active"><a href="#vtab1" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-book pr-10"></i> マイブック</a></li>
			<li class=""><a href="#vtab2" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-handshake-o pr-10"></i> あなたの取引一覧</a></li>
			<li class=""><a href="#vtab3" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-cogs pr-10"></i> 設定</a></li>
		</ul>
		<div class="mypage-tab tab-content">
			<div class="tab-pane fade active in" id="vtab1">
				<h3 class="title">マイブック</h3>
				<%= link_to new_user_book_path(current_user), class: "btn btn-default" do %>新しく本を登録する<% end %>
				<%= render partial: 'books/index', locals: { books: current_user.books } %>
			</div>
			<div class="tab-pane fade" id="vtab2">
				<h3 class="title">あなたの取引一覧</h3>
				<div class="separator mt-10"></div>
				<ul class="nav nav-pills" role="tablist">
					<li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="images" aria-expanded="true">1. 開始中の取引</a></li>
					<li class=""><a href="#pill-2" role="tab" data-toggle="tab" title="video" aria-expanded="false">2. ほしいね！をした取引</a></li>
					<li class=""><a href="#pill-3" role="tab" data-toggle="tab" title="text" aria-expanded="false">3. 成立した取引</a></li>
					<li class=""><a href="#pill-4" role="tab" data-toggle="tab" title="text" aria-expanded="false">4. 終了した取引</a></li>
				</ul>
				<div class="tab-content clear-style">
				<%= render partial: 'books/parent_book' %>
				<%= render partial: 'books/child_book' %>
				<%= render partial: 'books/establishment' %>
				<%= render partial: 'books/finish' %>
				</div>
			</div>
			<div class="tab-pane fade" id="vtab3">
				<h3 class="title">設定</h3>
					<%= render partial: 'edit' %>
					<div class="separator-2"></div>
					<% if current_user.addresses.any? %>
						<%= render partial: 'addresses/index' %>
					<% end %>
			</div>
		</div>
	</div>
</div>
