<div class="page-wrapper">
	<div class="vertical">
		<ul class="mypage-nav nav nav-tabs" role="tablist">
			<li class="active"><a href="#vtab1" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-book pr-10"></i> マイブック</a></li>
			<li class=""><a href="#vtab2" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-handshake-o pr-10"></i> あなたの取引一覧</a></li>
			<li class=""><a href="#vtab3" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-cogs pr-10"></i> 設定</a></li>
		</ul>
		<div class="mypage-tab tab-content">
			<div class="tab-pane fade active in" id="vtab1">
				<h3 class="title">マイブック</h3>
				<%= link_to new_user_book_path(current_user), class: "btn btn-default" do %>新しく本を登録する<% end %>
				<%= render partial: 'books/index', locals: { books: current_user.books } %>
			</div>
			<div class="tab-pane fade" id="vtab2">
				<h3 class="title">あなたの取引一覧</h3>
				<div class="separator mt-10"></div>
				<%= render partial: 'books/parent_book' %>
				<%= render partial: 'books/child_book' %>
			</div>
			<div class="tab-pane fade" id="vtab3">
				<h3 class="title">設定</h3>
					<%= render partial: 'edit' %>
					<%= link_to "登録した住所を確認する", user_addresses_path(current_user), class: "btn btn-default" %>
					<p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
			</div>
		</div>
	</div>
</div>
